html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

#title-todo {
  display: flex;
  justify-content: center;
  color: rgb(39, 36, 117);
}

#todo-space-button {
  display: flex;
  color: rgb(39, 36, 117);
  align-items: center;
  justify-content: center;
}

#todo-title-list {
  justify-content: center;
  padding-left: 47%;
}
#todo-list {
  justify-content: center;
  color: rgb(40, 27, 44);
  padding-left: 47%;
  list-style-type: circle;
  gap: 20px;
}

.space-between-button {
  display: flex;
  flex-direction: column;
  width: 10px;
}
#todo-creation-error {
  color: red;
}
ul li {
  align-items: center;
  display: flex;
}
#global_message {
  display: flex;
  justify-content: center;
}
