html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

#title-todo {
  display: flex;
  justify-content: center;
  color: rgb(39, 36, 117);
}

#todo-space-button {
  display: flex;
  justify-content: center;
  color: rgb(39, 36, 117);
}

#todo-title-list {
  justify-content: center;
  color: rgb(40, 27, 44);
  padding-left: 46%;
}
#todo-list {
  justify-content: center;
  color: rgb(40, 27, 44);
  padding-left: 47%;
  list-style-type: circle;
  gap: 20px;


}

.space-between-button {
  display: flex;
  flex-direction: column;
  width: 10px;
}
