html,
body {
  padding: 0;
  margin: 0;
  /*  background-color: rgb(90, 88, 119);*/
  background-color: rgb(94, 103, 131);
}
* {
  font-family: Helvetica, Arial, sans-serif;

  border: none;
}

.title-todo {
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-family: "Playwrite IN", serif;
}

#todo-space-button {
  display: flex;
  height: 50px;
  width: 450px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 81, 140);
}
#app {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#add-todo-button {
  color: #142f4c;
  border-radius: 5px;
  background-color: rgb(172, 180, 188);
}

#space {
  display: flex;
  height: 50px;
  width: 500px;
  border-radius: 10px;
  background-color: transparent;
  padding-right: 500px;
  align-items: center;
  justify-content: center;
}
#app {
  display: flex;
}
#todo-title-list {
  justify-content: center;
  padding-left: 47%;
}

#todo-title {
  font-family: "Playwrite IN", serif;
  color: white;
  text-align: center;
}

#todo-list {
  justify-content: center;
  color: aliceblue;
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  border-radius: 15px;
  padding-left: 10px;
}

.space-between-button {
  display: flex;
  flex-direction: column;
  width: 10px;
  background-color: aliceblue;
}

#todo-creation-error {
  color: red;
}

li {
  list-style: square;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}

#li-myList-function {
  list-style: square;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 25%;
}

time {
  width: 40%;
}

#global_message {
  display: flex;
  justify-content: center;
}

.todo-div {
  background-color: rgba(40, 39, 76, 0.51);
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-color: rgba(20, 16, 166, 0.51);
  border-radius: 15px;
}

button[id="button"] {
  padding-right: 0;
  background: transparent;
  cursor: pointer;
}

button[id="delete-all"] {
  background-color: rgb(172, 180, 188);
  border-radius: 5px;
  cursor: pointer;
}
input[type="date"] {
  background-color: rgb(172, 180, 188);
  border-radius: 5px;
}

input[type="checkbox"] {
  padding-left: 510px;
}

input[type="text"] {
  background-color: transparent;
  border-bottom: 2px solid grey;
}
button[type="disabled"] {
  color: aliceblue;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#color-picker {
  background: black;
  height: 20px;
  justify-content: center;
}
.Category_space {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#button-categories {
  background-color: rgb(172, 180, 188);
  border-radius: 5px;
  cursor: pointer;
}
#category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
  padding-left: 800px;
}

#text {
  width: 100px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: grid;
}
.CategoryDiv {
  background-color: rgba(40, 39, 76, 0.51);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgba(20, 16, 166, 0.51);
  border-radius: 15px;
  gap: 50px;
  text-align: center;
}
select {
  background-color: rgb(69, 81, 140);
  color: white;
  border-radius: 10px;
}
option {
  color: aliceblue;
  text-align: center;
}
#backgroud-button-category {
  display: flex;
  height: 50px;
  width: 400px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 81, 140);
  gap: 10px;
}
